body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  margin-top: 0;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input[type="submit"] {
  background-color: #325f8f;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #007bff;
}

p {
  margin: 10px 0;
}

a {
  color: #325f8f;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #7a2ea2;
}

.logo {
  margin-bottom: 20px;
}